*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
}
img{
    display: inline-block;
    width: 100%;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 0 3px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: inherit;
}

/* header */
header{
    background-color: #ff6800;
    color: white;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo img{
    width: 110px;
    padding-top: 12px;
}
.categoria li{
    font-weight: 800;
}

/* main */

.first-section{
    padding-top: 80px;
}
.second-section{
    margin-top: 35px;
}
.content{
    padding: 0 5px;
    width: calc(100% / 3);
}
.img-hover{
    display: none;
}
.content:hover .img-hover{
    display: inline-block;
}
.content:hover img{
    display: none;
}
.card{
    position: relative;
}
.heart{
    background-color: white;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 5px;
    right: 0;
}
.option{
    color: white;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 600;
}
.discount{
    background-color: red;

}
.sostenibilità{
    background-color: green;
}
.discount-info{
    position: absolute;
    bottom: 25px;
    left: 0;
}
.down-content{
    font-size: 12px;
}
.down-content h2{
    font-size: 12px;
}
.red{
    color: red;
}
.deleted{
    text-decoration: line-through;
}

/* footer */
footer{
    color: white;
    background-color: black;
    margin-top: 30px;
    padding: 15px 0;
}
.company-name{
    font-size: 13px;
    padding-left: 3px;
    padding-bottom: 5px;
    font-weight: 700;
}
.privacy a{
    font-size: 10px;
}
.info-social{
    font-size: 10px;
    padding-bottom: 5px;
}
.social{
    padding-right: 0 15px;
    font-size: 14px;
}